<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTrackerTry</title>
    <script src="https://kit.fontawesome.com/be2b2938bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/projects.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="mb-3">
        <div class="p-3 box-shadow header-row">
            
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light p-3">
                <div class="container-fluid">
                    <button class="navbar-toggler mr-3 mb-3" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a asp-controller="Home" asp-action"Index"><img class="header-logo" src="/img/naya-logo-outline.svg" /></a>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ProjectUsers" asp-action="ManageUsers">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />

                    </div>
                </div>
            </nav>
            <div class="text-center align-items-center pt-3">
                <div class="input-group justify-content-center">

                    <a class="btn btn-outline-dark btn-search mr-2 header-element" asp-area="" asp-controller="Projects" asp-action="Create">New Project</a>
                    <a class="btn btn-outline-dark btn-search mr-4 header-element" asp-area="" asp-controller="Tickets" asp-action="Create">New Ticket</a>

                    <div class="form-outline">
                        <input type="search" id="searchInput" class="form-control btn-search" />
                    </div>




                    <button type="button" class="btn btn-outline-dark btn-search ml-1" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>


                </div>
            </div>
            

        </div>
    </header>
    <div class="container bodyContainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Naya - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
