body {
    color: var(--soft-dark);
}
.projectItem {
    background-color: rgb(255 0 0)
}

.projectItemBlock {
    text-align: center;
    background-color: ;
    padding: 10px;
    border-radius: 3px;
    height: 100%;
}

.card-body {
    font-size: 15px;
}

#linkList {
    justify-content: end;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.grid-item {
    align-items: center;
}

#newProject {
    justify-self: end;
}