/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --soft-dark: rgb(122 121 121);
    --full-dark: rgb(39 39 39);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

header {
    /*background-image: url("/img/eberhard-grossgasteiger-xC7Ho08RYF4-unsplash.jpg");*/
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: 100% 0px;
    height: 200px;
    background-image: url(/img/custom-map.png);
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.function-btn {
    border-radius: 50%;
    line-height: 1rem;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    color: var(--soft-dark);
}
.function-btn-border {
    box-shadow: 0 .1rem .75rem rgba(0, 0, 0, .19);
}
.indexedImage {
    /*height: 10rem;
    width: 10rem;*/
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .09);
}
.indexedImageContainer {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
nav {
    font-size: 20px;
}
.btn {
    font-size: 20px;
}
.card-title, .card-body > p {
    font-size: 15px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .15rem .75rem rgba(0, 0, 0, .15);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: linear-gradient(rgb(183 254 208), rgb(202 255 222), white 200px);
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
}

.bodyContainer {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.technologySection {
    position: relative;
    bottom: 0;
}
.btn-search {
    height: 100%;
    border: none;
    box-shadow: 0 .15rem .75rem rgba(0, 0, 0, .15);
}

.project-card {
    border: none;
}

.ticket-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-gap: 1rem;
}
.ticket-grid-item {

}
.ticket-card {
    height: 200px;
    position: relative;
    border: none;
    box-shadow: 0 .15rem .75rem rgba(0, 0, 0, .15);
}
.ticket-card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}
.ticket-card-title {
    font-size: 20px;
    margin: 0;
}
.card-grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.card-grid-item {

}
.new-item {
    justify-self: end;
}
.grid-container-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.grid-item-projects {
    align-items: center;
}
.projectItem {
    background-color: rgb(255 0 0)
}

.projectItemBlock {
    text-align: center;
    background-color:;
    padding: 10px;
    border-radius: 3px;
    height: 100%;
}